@model FinalProRere.ViewModels.AddTicketViewModel

@{
    ViewBag.Title = "AddTicketForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddTicketForm</h2>

@using (@Html.BeginForm("AddTicket", "Home", FormMethod.Post))
{
<div class="form-group">


    <label for="Ticket_ApplicationUser">Assign To</label>
    @Html.DropDownListFor(t => t.Ticket.ApplicationUserId, Model.ApplicationUsers, new { @class = "form-control" })

    @Html.LabelFor(t => t.Ticket.Instructions)
    @Html.TextAreaFor(t => t.Ticket.Instructions, new { @class = "form-control" })

</div>
<div class="form-group">
    <button action="submit" class="btn btn-primary">Submit</button>

</div>
}   