@model FinalProRere.ViewModels.MultipleTicketsModel
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Issue Tracker</title>
</head>
@Styles.Render("~/Content/css")

   

<body class="mainbody">
    <div id="heading">
        <a href="/home/employeeindex">Home</a> <a href="_targetblank">Contact Me</a> <a href="_targetblank">Portfolio</a> @Html.Partial("_LoginPartial")
    </div>
    login

</body>
</html>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")





